
.create-account {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
  }

  .homepic {
    position: relative;
    background: url("../../../images/runninggroup.jpg") no-repeat center center/cover;
    height: 100vh;
  }

  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .homepic-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0.9;
  }

  .form .form-group {
    margin: 1.2rem 0;
    /* margin-right: 60%; */
  }
  
  .form .form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }
  
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'],
  .form input[type='date'],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form input[type='submit'],
  button {
    font: inherit;
  }
  
  .form .social-input {
    display: flex;
  }
  
  .form .social-input i {
    padding: 0.5rem;
    width: 4rem;
  }
  
  .form .social-input i.fa-twitter {
    color: #38a1f3;
  }
  .form .social-input i.fa-facebook {
    color: #3b5998;
  }
  .form .social-input i.fa-instagram {
    color: #3f729b;
  }
  .form .social-input i.fa-youtube {
    color: #c4302b;
  }
  .form .social-input i.fa-linkedin {
    color: #0077b5;
  }
  
  .table th,
  .table td {
    padding: 1rem;
    text-align: left;
  }
  
  .table th {
    background: var(--light-color);
  }

  .form-wrapper{
      background-color: rgb(204, 31, 31);
  }

  .login-page {
    width: 360px;
    padding: 0 0 0;
    margin: auto;
    margin-top: 100px;
  }

  .form p{
    color: var(--primary-color);
  }


  

  