label {
  color: #17a2b8;
}

hr {
  margin-top: 40px;
  color: #17a2b8;
  border: none;
  height: 2px;
  background-color: #17a2b8; /* Modern Browsers */
}

form{
  margin-top: 25px; 
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}
