.card{
    margin-top: 20px;
}

.far{
    margin-left: 10px;
}

.titleName{
    color: #17a2b8;
}

.fa-thumbs-up,
.fa-comments{
    color: #17a2b8;
}

.fa-trash-alt{
    color: #dc3545;
}

.hName{
    background-color: #17a2b8;
    color: #fff;
}